<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>

        Options -MultiViews

    </IfModule>

    

    RewriteEngine On

    

    RewriteCond %{REQUEST_FILENAME} -d [OR]

    RewriteCond %{REQUEST_FILENAME} -f

    RewriteRule ^ ^$1 [N]



    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]

    RewriteRule ^(.*)$ public/$1 



    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ server.php



    

    #SetEnvIf X-Forwarded-Proto "https" HTTPS=on



    #RewriteEngine on

    #RewriteCond %{HTTPS} !=on

    #RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]

    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]



</IfModule>