p-one{
    color:black;
}

.b{
    color:#00B87C;
    border:2px solid #00B87C;
    padding:10px 20px;
    margin-top:40px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    color:black !;
}
.ot{
    margin-top:30px;
    background-color:white;
    color:#4CAF50;
    width:15%;
    border-radius: 2px;
    border:2px solid #4CAF50;
    padding:12px 12px;
}

.image {
    border-radius: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.secondnav{
    margin-top:15px;
}
.bu{
    background-color:#00B87C;
    color:white;
    padding:10px 18px;
    border-radius: 3px;
    margin-right:4px;
}
.topnav{
    display:flex;
    justify-content: space-between;
}
.topnav {
  /* background-color: #333; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #BAB9BA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color:; */
  color: white;
  border-bottom:3px solid #00B87C;
  color:#00B87C
}

*{
    margin:0px;
    padding:0px;
}
#sel{
width:120px;
margin-top:10px;
}
#sel{
    background-color: #00B87C;
    border:0px;
    color:white !important;
}
template{
    margin:0px;
    padding:0px;
}
div{
    margin:0px;
    padding:0px;
    border-radius:0px;
}
.nav{
         background-color:#00B87C;
         height:6vh;
         width:100%;
         color:white;
         border-radius:0px;
     }
     .firp{
         color:white
     }
     .bu{
         margin-top:10px;
         border:2px solid #00B87C;
     }


     /* for modal */
     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .in {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sub {
    width: 20%;
    background-color: #4CAF50; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
  }
  .al{
      text-align:center;
  }
  .su {
    width: 7%;
    text-align: center;
    background-color: #4CAF50; 
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
  }
  
  .sub:hover {
     background-color: #45a049; 
  }
  .bodyy{
      margin-top:20px;
  }
  .p-two{
      color:#C5C5C5;
  }
  .form{
      margin-top:20px;
  }
  .formspace{
      padding-top:10px !important;
  }
  .modal-content{
      width:50vw;
      height:70vh;
  }
  @media only screen and (max-width: 600px) {
    .sub{
        width:40%;
    }
    .pro{
        width:80px !important;
        
    }
    .main{
        font-size: 10px !important;
    }
}
.dang{
    display:flex;
    justify-content: space-between;
}
  

/* pending */
.pendfir{
   display:flex;
   justify-content:space-between;
   margin:10px;
   margin-top:20px;
   border-bottom: 1px solid #aaaaaa;
}
.p-pend{
    color:#797777;
}
.flex-container {
    display: flex;
    align-items: stretch;
    /* background-color: #f1f1f1; */
  }
  .pendsec{
      margin:10px;
      border-bottom:1px solid #aaaaaa
  }
  .flex-container > div {
    
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
  }
  .card{
      margin:10px;
  }
  .firstcard{
      margin-top:20px;
      display:flex;
      justify-content:space-between;
  }
  .secondcard{
      margin-top:38px;
       display:flex;
       justify-content:space-between;
  }
  .green{
      color:#00B87C;
  }
  .card{
   /* border-bottom: 1px solid #aaaaaa; */
   border:1px solid #aaaaaa;
   padding:5px;
  }
  .card-assigning{
      margin-top:10px;
      width:25vw;
      padding-left:10px;
      margin-left:20px;
      border:1px solid #EFEFEF;
      box-shadow: 1px 1px 1px 1px #aaaaaa;
    }
  .navsec{
      border-bottom:1px solid #aaaaaa;
      padding-bottom: 10px;
  }
  .mar{
   border-bottom:1px solid #d8d6d6;
   padding:8px;
   margin-top:10px;
  }
  .pro{
     width: 344px;
      background-color:#4CAF50;
     height:5px;
  }
  .check{
      background-color:#4CAF50;
      color:white;
  }
  .main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    margin-top:10px;
}

/* Hide the default checkbox */
input[type=checkbox] {
    visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    /* background-color: white; */
}

/* Specify the background color to be
shown when hovering over checkbox */
.main:hover input ~ .geekmark {
    /* background-color: yellow; */
}

/* Specify the background color to be
shown when checkbox is active */
.main input:active ~ .geekmark {
    /* background-color: red; */
}

/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .geekmark {
    background-color: green;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
    display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and
showing only two border to make it look
like a tickmark */
.main .geekmark:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sh{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
}
.cur{
    display:flex;
    justify-content:space-between;
    /* margin-top:5px; */
}
.b{
    background-color:white;
    padding:10px 10px;
    border:2px solid #C5C5C5
}
.ha{
    margin-top:20px !important;
}
.car{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    border-bottom:1px solid #EFEFEF;
}
.firstcar{
    display:flex;
    justify-content:space-between;
}
.d{
    margin-left:10px;
}
.secondcar{
    display:flex;
    justify-content:space-around;
}
.dim{
    margin-left:20px;
}
.car1{
    margin-top:20px;
    padding:10px;
    border:1px solid #EFEFEF;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
}
.s{
    width: 20%;
    background-color: #4CAF50; 
    color: white;
    padding: 10px 10px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
    /* margin-top:5px; */
}
.f{margin-top:5px;
    
    display:flex;
    justify-content: space-evenly;
    flex-wrap: nowrap  wrap ;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
    float:right;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4CAF50;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .inp{
      display:flex;
      justify-content: space-between;
  }